@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.font-brand {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.pattern-dots {
  background-image: radial-gradient(rgba(255, 255, 255, 0.4) 1.5px, transparent 1.5px);
  background-size: 7px 7px;
}

@keyframes blink-live {
  0%, 100% {
    background-color: #10b981;
    color: #ffffff;
    border-color: #059669;
  }
  50% {
    background-color: #ffffff;
    color: #10b981;
    border-color: #10b981;
  }
}

.blink-live {
  animation: blink-live 1s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ticket-notch-left {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #f8faff;
  border-radius: 50%;
  box-shadow: inset -2px 0 3px rgba(0, 0, 0, 0.05);
}

.ticket-notch-right {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #f8faff;
  border-radius: 50%;
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.05);
}